.login-docente-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0eff5;
  flex-direction: column;
}

.login-docente-header {
  width: 100%;
  background-color: #e0eff5;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.login-docente-image {
  width: 50%;
}

.logo {
  height: 60px;
}

.login-docente-main {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 1200px;
  height: 80vh;
}

.login-docente-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 50%;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: #00bcd4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0097a7;
}

.login-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.register-link,
.forgot-password-link {
  color: #00bcd4;
  text-decoration: none;
  font-size: 14px;
}

.register-link:hover,
.forgot-password-link:hover {
  text-decoration: underline;
}

.docente-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  object-fit: cover;
}

.docente-image:hover {
  transform: scale(1.05);
}