/* Estilos generales del contenedor */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fa;
  }
  
  .register-box {
    padding: 40px;
    width: 600px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    text-align: center;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input.small-input {
    width: 80px;
  }
  
  .register-button {
    background-color: #00bcd4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #0097a7;
  }
  
  .register-links {
    margin-top: 20px;
  }
  
  .login-link {
    color: #00bcd4;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  